<div class="vh-100 d-flex flex-column justify-content-center align-items-center">
  <h3 class="text-center">Your information is submitted!</h3>

  <div class="d-flex align-items-center justify-content-center mt-4">
    <%= link_to 'Submit another', root_path, class: 'btn btn-primary' %>
  </div>
</div>
